@media (max-width: 1200px)
  .container
    max-width: 960px
  .card
    width: 230px
    height: 230px
    &__title
      &--last
        width: 160px
  .footer
    &__form
      width: 100%
@media (max-width: 992px)
  .container,
  .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
      margin-right: 73px
    &-menu
      padding: 22px 15px
      margin-bottom: 0px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 50px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-slider
      width: 100%
    &-right
      flex-direction: row
  .booking
    width: 340px
  .map
    width: 340px
  .reviews
    &-slider
      &__item
        max-width: 580px
      &__button
        transform: translateY(-50%)
        &--prev
          left: 0
        &--next
          right: 0
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
  .activities
    padding-top: 30px
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
      row-gap: 20px
  .card
    width: 340px
    height: 255px
    &__title
      &--last
        width: 200px
  .packages
    &-grid
      grid-template-columns: repeat(2, 1fr)
  .footer
    padding-top: 35px
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 40px
    &__contact-form
      grid-column: span 4
    &__logo
      width: 97px
      height: auto
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
        margin-left: -53px
        margin-top: 50px
    &__categories
      grid-row: 2 / 3
      grid-column: span 2
      margin-top: 13px
    &__legal
      grid-column: span 2
      margin-top: 13px
      margin-left: 20px
    &__add
      grid-column: span 2
      margin-top: 13px
      margin-left: -40px
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin-top: 10px
    &__form
      grid-column: span 6
      grid-row: 4
      width: 539px
    &__input
      flex-basis: 47%
      font-size: 12px
    &-additional
      padding-top: 0
      justify-content: space-between
      &__list
        padding-left: 0
    &__additional
      margin-top: 55px

@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &__search
      margin-right: 0
    &--fixed
      position: fixed
      left: 0
      top: 0
      right: 0
      z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 70px
      padding-top: 30px
      &--visible
        display: block
        overflow-y: auto
    &-menu
      flex-direction: column
      padding-top: 0
      max-height: 440px
      &__item
        margin-bottom: 15px
        &--mobile
          &--visible
            display: block
            margin-bottom: 30px
            &--mb
              margin-bottom: 40px

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .search
    &__input
      width: 243px
      margin: auto
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-slider
      height: 350px
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
    &__frame
      width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      max-width: 576px
      width: 92%
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -90px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -90px
          transform: translate(50%, 0)
  .card
    width: 48%
    height: 255px
  .packages
    &__title
      font-size: 30px
    &-grid
      grid-template-columns: repeat(1, 1fr)
      column-gap: 0
  .package
    grid-column: 1
    &-stars
      display: none
    &-first
      display: block
      &-info
        padding-top: 20px
        max-width: 576px
      &__image
        height: 50%
        width: 100%
        object-fit: cover
      &__text
        display: none
  .footer
    &__add
      margin-left: 15px
    &__contact-form
      grid-column: span 6
    &__input
      flex-basis: 100%

@media (max-width: 576px)
  .logo
    width: 99px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
  .card
    width: 100%
  .activities
    &__title
      font-size: 18px
  .packages
    &__title
      font-size: 18px
      padding-bottom: 20px
  .package
    &-first
      &-info
        padding-left: 15px
    &-info
      padding-left: 15px
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__add
      grid-row: 4
      grid-column: 1
      margin-left: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
      margin-left: 0
    &__additional
      margin-top: 0
    &__form
      width: 100%
    &__message
      width: 100%
    &__input
      flex-basis: 100%
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__button
      margin-bottom: 15px
    &-additional
      display: block
      &__item
        margin-bottom: 10px

@media (max-width: 320px)
  .container
    max-width: 280px
  .breadcrumb
    &-list
      padding-bottom: 0
  .navbar
    &-top
      padding-top: 23px
      padding-bottom: 29px
  .stars
    margin-right: 15px
  .hotel
    padding-top: 20px
    padding-bottom: 15px
    &-slider
      height: 179px
      &__button
        width: 12px
        height: 12px
    &__slider
      margin-top: 15px
      margin-bottom: 0
    &-right
      justify-content: space-evenly
  .map
    height: 172px
  .newsletter
    padding: 60px 0 85px 0
    &-wrapper
      max-width: 280px
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    &__input
      padding-left: 20px
  .reviews
    &__title
      width: 250px
      margin-right: auto
      margin-left: auto
      margin-bottom: 45px
    &-slider
      &__item
        max-height: 438px
      &__text
        text-align: left
  .activities
    padding-top: 5px
    padding-bottom: 60px
    &__title
      margin-bottom: 38px
    &__card
      margin-bottom: 10px
  .card
    &:nth-child(2)
      order: 1
    &:nth-child(4)
      order: 2
  .footer
    &__logo
      width: 95px
      margin-bottom: -15px
    &__social
      &-network
        flex-direction: column
    &__title
      &--inline
        padding-bottom: 22px
        margin-top: -20px
      &--mb-1
        margin-bottom: 15px
    &__legal
      margin-top: -13px
    &__add
      margin-top: -10px
    &__categories
      margin-top: -10px
    &__contact-details
      margin-top: -10px
    &__ul
      &--ml
        padding-top: 5px
    &__icon
      &-wrapper
        min-width: 20px
        margin-right: 5px
    &__message
      margin-bottom: 15px
      font-size: 12px
    &__info
      margin-bottom: 15px
    &__button
      margin-bottom: 27px
      &-wrapper
        display: flex
        flex-direction: column-reverse
        width: auto
        align-items: flex-start
    &-additional
      display: flex
      flex-wrap: wrap
      &__list
        min-width: 280px
      &__item
        margin-right: 7px
